@import "bootstrap";

@import "_variables.scss";

body {
    // background-color: #ffffff;
    // background-image: linear-gradient(180deg, rgb(255, 255, 255) 0%, #b2b2b2 38%, #b7b7b7 53%, #e1e1e1 65%, #c6c6c6 100%);
    // background-repeat: no-repeat;

    font-family: 'Montserrat', sans-serif !important;

    .btn-cta {
        background: $primaryColor;
        border: 1px solid transparent;
        color: $secondaryColor;
        padding: 10px 20px;

        &:hover {
            border-color: $primaryColor;
            background-color: #ffffff;
            color: $primaryColor;
        }
    }

    header#navbar {
        @import 'components/navbar.scss';
    }

    &#index {
        @import 'components/index.scss';
    }

    &#announcementsList {
        @import 'components/announcements/list.scss';
    }

    &#announcementsCreate {
        @import 'components/announcements/create.scss';
    }

    &#login,
    &#register {
        @import 'components/auth.scss';
    }


    &#workWithUs {
        @import 'components/work-with-us/work-with-us.scss';
    }


    footer {
        @import 'components/footer.scss';
    }

}